<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Itinerary</title>
</head>
<body>
    <form id="itinerary" action="/calculate-itinerary" method="POST">
        {% if errorMessage %}
            <span style="color: red">{{errorMessage}}</span>
        {% endif %}
        <div>
            <label for="input" style="display: block">Input:</label>
            <textarea id="input" name="input" rows="15" cols="120" form="itinerary">{{input}}</textarea>
        </div>
        {% if response %}
            <div style="clear:both; display: block">
                <label style="display: block">Output:</label>
                {{response|raw}}
            </div>
        {% endif %}
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</body>
</html>